<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Package Repo{% endblock %}</title>
  <style>
    body {
      font-family: system-ui, sans-serif;

      background-color: #eeeeee;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .container {
      background-color: #ffffff;
      border-radius: 1rem;
      max-width: 40rem;
      margin: 2rem auto;
      padding: 1rem;
    }

    .container > *:first-child {
      margin-top: 0;
    }

    .container > *:last-child {
      margin-bottom: 0;
    }

    .pkg {
      margin-bottom: 1rem;
    }
  </style>
</head>
<body>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
